{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Love Locks | Password Change</title>{% endblock title %}
{% block content %}

<center>
    <div class="col-sm-6">
        <div class="card">
<h1 class="card-header">Password change</h1>
        </br>
<p class='text-justify text-center'>Please enter your old password, for security's sake, and then enter your
new password twice so we can verify you typed it in correctly.</p>
</br>
<form method="POST">
{% csrf_token %}
{{ form|crispy}}
<input class="btn btn-dark" type="submit" value="Change my password">

</form>
</br>
</div>
</div>
{% endblock content %}
